.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: var(--space-xxs);
    cursor: pointer;
    padding-block: var(--padding-btn-block);
    padding-inline: var(--padding-btn-inline);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-primary-text);

    &:hover {
        background-color: var(--color-primary-hover);
    }
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);

    &:hover {
        background-color: var(--color-secondary-hover);
    }
}

.btn-success {
    background-color: var(--color-success);
    color: var(--color-success-text);

    &:hover {
        background-color: var(--color-success-hover);
    }
}

.btn-warning {
    background-color: var(--color-warning);
    color: var(--color-warning-text);

    &:hover {
        background-color: var(--color-warning-hover);
    }
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-danger-text);

    &:active {
        background-color: var(--color-danger-hover);
    }
}

.btn-info {
    background-color: var(--color-info);
    color: var(--color-info-text);

    &:hover {
        background-color: var(--color-info-hover);
    }
}

.btn-square {
    padding: calc(var(--base-size) * 1.25);
    aspect-ratio: 1 / 1;
}

.btn-circle {
    width: var(--base-size);
    height: var(--base-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.btn-circle-lg {
    width: calc(var(--base-size) * 4);
    height: calc(var(--base-size) * 4);
    font-size: var(--font-size-lg);
}

.btn-fab {
    position: fixed;
    bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-fab-center {
    left: 50%;
    transform: translateX(-50%);
}

.btn-fab-right {
    right: 1.5rem;
}